<% var stylesheet = "admin" %>
<% include header %>


<div class="col-sm-4 col-md-3 sidebar2">
              

            
                  <h6>Edit content on your website.</h6>
              
                  <a class='newstuff' href='/admin'><img class='navimg' src='img/backarrow.png'>All Content</a>
                  
                

                 
          </div>   


<div id='mainarea' class="col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-4 main">
         




<form class='new_post' method='post' action='/<%= ((post.length == 0) ? 'posts' : 'posts/'+post.id) %>'>



<input type='hidden' name='area' value='<%= area %>'>

<div class='row'>
<div class='col-md-4'>


  <% if ( areas.length != 0 ) { %>
   

    

  <% } %>


 </div><!-- //4 -->

</div><!-- //row -->


<div class='row'>
<div class='col-md-9'>

    


   <% layout.forEach(function(x){ %>

        

        <div class='form_section'>
            <label><%= x.label %></label>
            
                <% if (x.type == 'input') { %>
                    <input class='post_title' autocomplete="off" name='<%= x.name %>' value='<%= ((post.length == 0) ? x.name : post.get(x.name)) %>'/>
                <% } %>
                

                <% if (x.type == 'img') { %>
                        <div id='imagesarea'>

                           <% if (post.length != 0) { %>
                           <% if (typeof post.get('img_array') != 'undefined') { %>

                                   <% post.get('img_array').forEach(function(pic) { %>
                                                         <img class='closex' onclick='removeFile("<%= pic %>"); $(this).next().remove(); $(this).remove();' src='../../img/remove.png'> 
                                                       <img class='thumbn' src='<%= pic %>'>
                                                   <% }) %>






                                   <% } %> 
                           <% } %>
                           </div>

                           
                           <input type='file' class='upfle' id='fileToUpload' onchange="fileSelected();">

                           <input type='hidden' name='img_array' id='img_array' value='<%= ((post.length == 0) ? '' : post.get('img_array').toString() ) %>' />
                <% } %>

          </div>

   <% }); %>


<!--
  <div class='form_section'>
    <label>Title</label>
    <input class='post_title' autocomplete="off" name='title' value='<%= ((post.length == 0) ? 'New Content Title' : post.get('title')) %>'/>
  </div>



  <div class='form_section'>
  <label>Body</label>

     

    <textarea class='post_body post_body_form' name='body'><%= ((post.length == 0) ? 'Enter your content here...' : post.get('body')) %></textarea>
  </div>
-->


  


  <div class='form_section'>
     <input class='button submitbtncontent' type='submit' value='<%= ((post.length == 0) ? 'Save' : 'Update') %>' />
   </div>


     <%- ((post.length == 0) ? '' : ' <input type="hidden" name="_method" value="put" />') %>



     




</div>
</div>

</form>

</div>



<% include footer %>
