<% var stylesheet = "admin" %>
<% include header %>


<div class="col-sm-4 col-md-3 sidebar2">
              

                 <h6>Create new content for your website.</h6>
              
                  <a class='newstuff' href='/admin'><img class='navimg' src='img/backarrow.png'>All Content</a>
                  
                

                 
          </div>   

<div id='mainarea' class="col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-4 main">
        <h1 class="page-header"><%= ((post.length == 0) ? 'New Product' : 'Edit Product') %></h1>
  


<div class='row'>
<div class='col-md-9'>

<form class='new_post' method='post' action='/posts'>



<input type='hidden' name='area' value='<%= area %>'>


 <div class='form_section'>
    <select class='content_area' name='moduleDefault' onchange="changeFormFunc(this);">
       
                                 <option <%= ((selected == 'blog') ? 'selected' : '') %> value='blog'>Blog Post</option>
                                 <option <%= ((selected == 'instagram') ? 'selected' : '') %>  value='instagram'>Instagram</option>
                                 <option <%= ((selected == 'soundcloud') ? 'selected' : '') %>  value='soundclound'>SoundCloud</option>
                                 <option <%= ((selected == 'product') ? 'selected' : '') %>  value='product'>Product</option>
                        
    </select>
  </div>




  <div class='form_section'>
    <label>Product Name</label>
    <input class='post_title' name='title' value='<%= ((post.length == 0) ? '' : post.get('title')) %>' />
  </div>


<div class='throttlesection'>
   
  <div class='col-md-2'>
    <label>SKU</label>
    <input class='post_title' name='sku' value='SKU123' value='<%= ((post.length == 0) ? '' : post.get('sku')) %>' />
  </div>
  
  <div class='col-md-2'>
    <label>Price</label>
    <input class='post_title' name='price' value='$0.00' value='<%= ((post.length == 0) ? '' : post.get('price')) %>' />
  </div>  

  <div class='col-md-2'>
    <label>Stock</label>
    <input class='post_title' name='stock' value='1' value='<%= ((post.length == 0) ? '' : post.get('stock')) %>' />
  </div>

  <div class='col-md-3'>
    <label>Product Type</label>
     <select class='producttype' name='producttype'>
        <option>T-shirt</option>
        <option>Sweatshirt</option>
     </select>
  </div>  


  <div class='col-md-1'>
    <label>Width</label>
    <input class='post_title' name='width' value='<%= ((post.length == 0) ? '' : post.get('width')) %>' />
  </div>

  <div class='col-md-1'>
    <label>Height</label>
    <input class='post_title' name='height' value='<%= ((post.length == 0) ? '' : post.get('height')) %>' />
  </div>


  <div class='col-md-1'>
    <label>Weight</label>
    <input class='post_title' name='weight' value='<%= ((post.length == 0) ? '' : post.get('weight')) %>' />
  </div>

</div>



  <div class='form_section'>
    <label>Description</label>
    <textarea class='post_body post_body_form' name='body'><%= ((post.length == 0) ? '' : post.get('body')) %></textarea>
  </div>


<div class='form_section'>

    <div id='imagesarea'>
    
    <% if (!_.isEmpty(post)) { %>
    <% if (typeof post.get('img_array') != 'undefined') { %>
              
            <% post.get('img_array').forEach(function(pic) { %>
                                  <img class='closex' onclick='removeFile("<%= pic %>"); $(this).next().remove(); $(this).remove();' src='../../img/remove.png'> 
                                <img class='thumbn' src='<%= pic %>'>
                            <% }) %>


                   
 
             
               
            <% } %> 
    <% } %>
    </div>

    <label>Select a photo to upload</label>
    <input type='file' class='upfle' id='fileToUpload' onchange="fileSelected();">

    <input type='hidden' name='img_array' id='img_array' value='<%= ((post.length == 0) ? '' : post.get('img_array').toString() ) %>' />

</div>




  <div class='form_section'>
    <input class='button' type='submit' value='<%= ((post.length == 0) ? 'Add Product' : 'Update Product') %>' />
  </div>
</form>

</div>
</div>

</div>



<% include footer %>
