<% var stylesheet = "admin" %>
<% include header %>


<div class="col-sm-4 col-md-3 sidebar2">
              
              <h3>Create a Site</h3>
                      
                  <h6>Launch a new site for your stuff. Need copy.</h6>
              
                  <a class='newstuff' href='/admin'><img class='navimg' src='img/backarrow.png'>Back</a>
                  
                

                 

                 
                  
          </div>   


<div id='mainarea' class="col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-4 main">
          <h1 class="page-header"><%= ((!post) ? 'Create New Website' : 'Edit Content') %></h1>


<div class='row'>
<div class='col-md-9'>

<form class='new_post' method='post' action='/<%= ((!post) ? 'createSite' : 'posts/'+post.id) %>'>


 


  <div class='form_section'>
    <label>Site Name</label>
    <input class='post_title' name='sitename' value='<%= ((!post) ? '' : post.get('title')) %>'/>
  </div>









   <Br>
   <p class='padbottom'>Select the look you want</p> 

  <div class='row blksqrs'>

    <div class='col-md-4' >
        <div class='thumbnail-wrapper' style="background: url('img/promo-engage.png') no-repeat;"></div>
        <h4>Custom</h4>
        
        <div class="designs-template-info"><div class="button--centered"><div class="button button--small">Launch</div></div></div>
    </div>

    


    
</div>












  <div class='form_section'>
    <input class='button' type='submit' value='<%= ((!post) ? 'Create Site' : 'Update') %>' />
  </div>


    <%- ((!post) ? '' : ' <input type="hidden" name="_method" value="put" />') %>
     


</form>

</div>
</div>

</div>



<% include footer %>
